@model IEnumerable<SCM.Models.ChemicalComposition>
@{

    var categoryId = ViewBag.CategoryId;
    var categoryName = (string)ViewBag.CategoryName;
}



<h1>
    @categoryName
</h1>


<a class="btn btn-default" href="@Url.Action("Create","ChemicalCompositions", new {categoryId = categoryId})">Добавить химический состав</a>
<table class="table">
    <tbody>
    @foreach (var composition in Model)
    {
        <tr>
            <td>
                <div class="row">@composition.Title</div>
                <div class="row">@composition.Index</div>
                <div class="row">50 г.</div>
            </td>
            <td></td>
            <td></td>
        </tr>
    }
    
    </tbody>
</table>