@using SCM.Controllers
@using SCM.DataService.DataContext
@using SCM.Extensions
@model SCM.ViewModels.CatalogViewModel

@{
    ViewBag.Title = "Каталог";
    var grouped = Model.SampleCategories.Split(3);
    var compositions = AppDataContext.JoinOrOpen().ChemicalCompositions.ToList();
}

<h2>Каталог</h2>

<div class="container-fluid">

    @if (Request.IsAuthenticated)
    {
        <a class="btn btn-dark-light mt-3 mb-3 " href="@Url.Action("Create", "SampleCategory")">Добавить категорию</a>
    }

    @foreach (var group in grouped)
    {
        <div class="card-deck">
            
                        @foreach (var categoy in group)
                        {
                            <div class="card mb-4">
                                <div class="view overlay">
            
                                    <a href="@Url.Action("Category", new {id = categoy.Id})">
                                        <img class="card-img-top" src="@categoy.ImageLink" alt="Изображение категории образцов">
                                    </a>
            
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">@categoy.Title</h4>
                                </div>
                                <div class="card-footer">
                                    Всего образцов:
                                    @{
                                        int count = 0;
                                        foreach (var c in compositions)
                                        {
                                            if (c.SampleCategoryId == categoy.Id)
                                            {
                                                count++;
                                            }
                                        }
                                    }
                                    @count
                                </div>
                            </div>
                        }

        </div>
    }
</div>