@using Kendo.Mvc.UI
@using SCM.Models
@model IEnumerable<SCM.Models.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Клиенты ИСО</h2>

@*Грид*@


<div class="text-right p-3">
    <a href='@Url.Action("Create")' id="Add" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;Добавить клиента</a>
</div>

<div class="container-fluid">
    <div class="row">
        @(Html.Kendo().Grid<Client>().Resizable(c => c.Columns(true))
              .Name("grid")
              .Columns(columns =>
              {
                  columns.Bound(p => p.Name).Title("Фамилия");
                  columns.Bound(p => p.FirstName).Title("Имя");
                  columns.Bound(p => p.ThirdName).Title("Отчество");
                  columns.Bound(p => p.Phone).Title("Телефон");
                  columns.Bound(p => p.Address).Title("Почта");
                  columns.Bound(p => p.Id).Title("Действия").ClientTemplate("<a href='" + @Url.Action("Edit", "Clients", new {id = "#=Id#"}) + "' class='btn btn-xs'>  <i class='fas fa-pen'></i></a>" + "<a href='" + @Url.Action("Delete", "Clients", new {id = "#=Id#"}) + "' class='btn btn-xs m-1'>  <i class='fas fa-trash'></i></a> ");
              })
              .Pageable()
              .ToolBar(tools => tools.Excel())
              .Groupable()
              .Sortable()
              .Scrollable(s => s.Enabled(true))
              .Selectable(selectable => selectable
                  .Mode(GridSelectionMode.Multiple)
                  .Type(GridSelectionType.Row))
              .Excel(excel => excel
                      .FileName("Цехи.xlsx")    
                      .Filterable(true)
                      .ProxyURL(Url.Action("ExportExcel", "Excel"))
              )
              .DataSource(dataSource => dataSource
                  .Ajax()
                  .PageSize(5)
                  //Метод должен быть в контроллере.
                  .Read(read => read.Action("ClientsRead", "Clients"))
              ))
    </div>
</div>
