@using Kendo.Mvc.UI
@using SCM.DataService
@using SCM.DataService.DataContext
@using SCM.Models
@using SCM.Models.IdentityModels
@model IEnumerable<SCM.Models.IdentityModels.ScmUser>

@* <i class="fa fa-file-text-o" aria-hidden="true"></i> *@

<div class="container-fluid">
    <div class="row">
        @(Html.Kendo().Grid<ScmUser>().Resizable(c => c.Columns(true))
              .Name("grid")
              .Columns(columns =>
              {
                  columns.Bound(p => p.Name).Title("ФИО");
                  columns.Bound(p => p.Email).Title("Email");
                  columns.Bound(p => p.RoleAsString).Title("Роль");
                  columns.Bound(p => p.Id)
                      .Title("Действия")
                      .ClientTemplate("<a href='" + @Url.Action("EditUser", "Admin", new {id = "#=Id#"}) + "' class='btn btn-xs editDialog'>  <i class='fas fa-pen'></i></a>" + 
                                      "<a href='" + @Url.Action("DeleteUser", "Admin", new {id = "#=Id#"}) + "' class='btn btn-xs m-1 deleter'>  <i class='fas fa-trash'></i></a> ");
              })
              .Pageable()
              .ToolBar(tools =>
              {
                  tools.Excel().Text("Экспортировать к Эксель"); 
                  tools.Custom().Url(Url.Action("CreateUser", "Admin")).HtmlAttributes(new {@class = "float-right", id = "Add"}).Text("Добавить пользователя");
                  tools.Custom().Url(Url.Action("RoleList", "Admin")).HtmlAttributes(new {@class = "float-right"}).Text("Роли пользователей");
              })
              .Groupable()
              .Sortable().Filterable()
              .Scrollable(s => s.Enabled(true))
              .DataSource(dataSource => dataSource
                  .Ajax()
                  .PageSize(10)
                  //Метод должен быть в контроллере.
                  .Read(read => read.Action("UsersRead", "Admin"))
              ))
    </div>
</div>



@* <td> *@
@*     @using (Html.BeginForm("DeleteUser", "Admin", new {id = user.Id})) *@
@*     { *@
@*         @Html.ActionLink("Изменить", "EditUser", new {id = user.Id}, *@
@*             new {@class = "btn btn-primary btn-xs editDialog", style = "float: left; margin-right: 10px"}) *@
@*         <button class="btn btn-danger btn-xs" type="submit">Удалить</button> *@
@*     } *@
@* </td> *@