@using Kendo.Mvc.UI
@using SCM.Models
@using SCM.DataService.Helpers
@using SCM.Models.IdentityModels
@model IEnumerable<ScmRole>

@{
    ViewBag.Title = "Роли пользователей";
    
}

<h2>Реестр ролей пользователей</h2>

<div class="container-fluid">
    <div class="row">
        @(Html.Kendo().Grid<ScmRole>().Resizable(c => c.Columns(true))
              .Name("grid")
              .Columns(columns =>
              {   
                  columns.Bound(p => p.Name).Title("Роль");
                  columns.Bound(p => p.UsersEmails).Title("Пользователи");
                  columns.Bound(p => p.Id).Title("Действия").ClientTemplate("<a href='" + @Url.Action("EditRole", "Admin", new {id = "#=Id#"}) + "' class='btn btn-xs'>  <i class='fas fa-pen'></i></a>" + "<a href='" + @Url.Action("DeleteRole", "Admin", new {id = "#=Id#"}) + "' class='btn btn-xs m-1'>  <i class='fas fa-trash'></i></a> ");
              })
              .Pageable()
              .Groupable()
              .Sortable()
              .Scrollable(s => s.Enabled(true))
              .ToolBar(t =>
              {
                  t.Custom().Url(Url.Action("CreateRole")).HtmlAttributes(new {@class = "float-right"}).Text("Добавить роль");
                  t.Excel().Text("Экспортировать в Эксель");
              })
              .Excel(excel => excel
                  .FileName("Роли.xlsx")
                  .Filterable(true)
                  .ProxyURL(Url.Action("ExportExcel", "Excel"))
              )
              .Filterable()
              .DataSource(dataSource => dataSource
                  .Ajax()
                  .PageSize(5)
                  //Метод должен быть в контроллере.
                  .Read(read => read.Action("RolesRead", "Admin"))
              ))
    </div>
</div>