@using Kendo.Mvc.UI
@using SCM.Models.IdentityModels
@{
    ViewBag.Title = "О компании";
}

<div class="container">

<div class="row align-items-center">
    <div class="col-lg-7">
        @* 900x400 *@
        <img class="img-fluid rounded mb-4 mb-lg-0" src="https://vk.com/photo354859386_456240029" alt="">
    </div>
    <div class="col-lg-5">
        <h1 class="font-weight-light">О компании</h1>
        <p>
            Первоначально институт создавался как научно-исследовательская организация,  предназначенная для разработки СО 
            и обеспечения потребности в них предприятий различных отраслей  промышленности СССР, но с начала 1970-х годов 
            (наряду с выпуском СО) систематически расширялась тематика, связанная с метрологическим обеспечением количественного 
            химического анализа (КХА) материалов черной  металлургии. В 1978 г. институт получил статус головной организации 
            метрологической службы по измерениям химического состава и СО.
        </p>
        <p>
            За 54-летнюю деятельность институт разработал и реализовал методические положения комплексного подхода к
            метрологическому обеспечению КХА материалов черной металлургии на базе применения.
        </p>
        <p>
            К настоящему времени институт приобрел надежные и уверенные позиции на рынке, сформулировал стратегические интересы 
            и сохраняет конкурентные преимущества. Ниже перечислены базисные принципы, черты и установки научно-технической политики
            института.
        </p>
    </div>
</div>
</div>