@{
    ViewBag.Title = "Главная";
}
@* <div class="jumbotron"> *@
@*     <h1>СТАНДАРТНЫЕ ОБРАЗЦЫ СЫРЬЯ И МАТЕРИАЛА МЕТАЛЛУРГИЧЕСКОГО ПРОИЗВОДСТВА</h1> *@
@*     <p class="lead">Предприятие является основным изготовителем стандартных металлургических образцов утвержденного типа (ГСО) сырья, материалов и отходов металлургического производства в России и странах СНГ, имеет более чем 55-летний опыт их аттестации, является участником Государственной службы стандартных образцов (ГССО) состава и свойств веществ и материалов.</p> *@
@*     <p>Сертифицированные стандартные образцы - это специальным образом приготовленные однородные и стабильные материалы (вещества), в которых с необходимой точностью установлены массовые доли элементов (компонентов), предназначенные для обеспечения единства и требуемой точности измерений посредством градуировки, аттестации и поверки средств измерений, контроля точности результатов измерений и измерения состава веществ и материалов методами сравнения.</p> *@
@*     <p>Современный подход к метрологическому обеспечению измерений химического состава предусматривает в качестве важнейшего звена системы управления качеством измерений централизованно выпускаемые квалифицированными организациями национальные (государственные) СО, являющиеся научно-технической базой обеспечения единства и точности измерений.</p> *@
@* </div> *@


<div class="container">

    <div class="row align-items-center">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="https://pp.userapi.com/c845418/v845418665/20598f/gP6H5nHAbdM.jpg" alt="">
      </div>
      <div class="col-lg-5">
        <h1 class="font-weight-light">Стандартные обрызцы металлургического производства</h1>
        <p>
          Предприятие является основным изготовителем стандартных металлургических образцов утвержденного типа (ГСО) сырья, материалов и отходов металлургического производства в России и странах СНГ
        </p>
      </div>
    </div>

    <div class="card text-white bg-secondary my-5 py-4 text-left">
      <div class="card-body">
        <p class="text-white m-0">
          Сертифицированные стандартные образцы - это специальным образом приготовленные однородные и стабильные материалы (вещества), 
          в которых с необходимой точностью установлены массовые доли элементов (компонентов), предназначенные для обеспечения единства 
          и требуемой точности измерений посредством градуировки, аттестации и поверки средств измерений, контроля точности результатов измерений
          и измерения состава веществ и материалов методами сравнения.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Каталог</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-dark-light btn-sm">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Новости</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-dark-light btn-sm">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">О компании</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-dark-light btn-sm">Подробнее</a>
          </div>
        </div>
      </div>

    </div>

  </div>