@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>Эталоны химического состава металла</h1>
    <p class="lead">Предприятие является основным изготовителем стандартных металлургических образцов утвержденного типа (ГСО) сырья, материалов и отходов металлургического производства в России и странах СНГ, имеет более чем 55-летний опыт их аттестации, является участником Государственной службы стандартных образцов (ГССО) состава и свойств веществ и материалов.</p>
    <p>Сертифицированные стандартные образцы - это специальным образом приготовленные однородные и стабильные материалы (вещества), в которых с необходимой точностью установлены массовые доли элементов (компонентов), предназначенные для обеспечения единства и требуемой точности измерений посредством градуировки, аттестации и поверки средств измерений, контроля точности результатов измерений и измерения состава веществ и материалов методами сравнения.</p>
    <p>Современный подход к метрологическому обеспечению измерений химического состава предусматривает в качестве важнейшего звена системы управления качеством измерений централизованно выпускаемые квалифицированными организациями национальные (государственные) СО, являющиеся научно-технической базой обеспечения единства и точности измерений.</p>
</div>


