@{
    ViewBag.Title = "Главная";
}
@* <div class="jumbotron"> *@
@*     <h1>СТАНДАРТНЫЕ ОБРАЗЦЫ СЫРЬЯ И МАТЕРИАЛА МЕТАЛЛУРГИЧЕСКОГО ПРОИЗВОДСТВА</h1> *@
@*     <p class="lead">Предприятие является основным изготовителем стандартных металлургических образцов утвержденного типа (ГСО) сырья, материалов и отходов металлургического производства в России и странах СНГ, имеет более чем 55-летний опыт их аттестации, является участником Государственной службы стандартных образцов (ГССО) состава и свойств веществ и материалов.</p> *@
@*     <p>Сертифицированные стандартные образцы - это специальным образом приготовленные однородные и стабильные материалы (вещества), в которых с необходимой точностью установлены массовые доли элементов (компонентов), предназначенные для обеспечения единства и требуемой точности измерений посредством градуировки, аттестации и поверки средств измерений, контроля точности результатов измерений и измерения состава веществ и материалов методами сравнения.</p> *@
@*     <p>Современный подход к метрологическому обеспечению измерений химического состава предусматривает в качестве важнейшего звена системы управления качеством измерений централизованно выпускаемые квалифицированными организациями национальные (государственные) СО, являющиеся научно-технической базой обеспечения единства и точности измерений.</p> *@
@* </div> *@


<div class="container">

    <div class="row align-items-center">
      <div class="col-lg-7">
        @* 900x400 *@
        <img class="img-fluid rounded mb-4 mb-lg-0" src="https://pp.userapi.com/c851424/v851424980/11a85c/_mQrDOs-RCA.jpg" alt="">
      </div>
      <div class="col-lg-5">
        <h1 class="font-weight-light">Стандартные образцы металлургического производства</h1>
        <p>
          Предприятие является основным изготовителем стандартных металлургических образцов утвержденного типа (ГСО) сырья, материалов и отходов металлургического производства в России и странах СНГ
        </p>
      </div>
    </div>

    <div class="card text-white bg-secondary my-5 py-4 text-left">
      <div class="card-body">
        <p class="text-white m-0">
          Сертифицированные стандартные образцы - это специальным образом приготовленные однородные и стабильные материалы (вещества), 
          в которых с необходимой точностью установлены массовые доли элементов (компонентов), предназначенные для обеспечения единства 
          и требуемой точности измерений посредством градуировки, аттестации и поверки средств измерений, контроля точности результатов измерений
          и измерения состава веществ и материалов методами сравнения.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Каталог</h2>
            <p class="card-text">На страницах нашего католога представлены стандартные образцы самого высого качества. Они изготовлены из материалов наивысшего качества и отвечают всем требованиям потребителя.</p>
          </div>
          <div class="card-footer">
            <a href="@Url.Action("Index","Catalog")" class="btn btn-dark-light btn-sm">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Новости</h2>
            <p class="card-text">13.04.2019 утвержден новый стандартный образец стали легированной типа 10Г2БД (ИСО УГ102)
              для спектрального анализа. 02.05.2019 утвержден новый стандартный образец стали (ИСО УС8) для химического анализа, партия ИСО У20/2.</p>
          </div>
          <div class="card-footer">
            <a href="@Url.Action("News")" class="btn btn-dark-light btn-sm">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">О компании</h2>
            <p class="card-text">
              Первоначально институт создавался как научно-исследовательская организация, предназначенная для разработки стандартных 
              образцов (СО) и обеспечения потребности в них предприятий народного хозяйства. 
            </p>
          </div>
          <div class="card-footer">
            <a href="@Url.Action("About")" class="btn btn-dark-light btn-sm">Подробнее</a>
          </div>
        </div>
      </div>

    </div>

  </div>