@{
    ViewBag.Title = "Новости";

}

<div class="container">

<div class="row align-items-center">
    <div class="col-lg-7">
        @* 900x400 *@
        <img class="img-fluid rounded mb-4 mb-lg-0" src="https://vk.com/photo354859386_456240029" alt="">
    </div>
    <div class="col-lg-5">
        <h1 class="font-weight-light">Последние новости</h1>
        <p>
            05.05.2019 Утвержден новый стандартный образец стали легированной типа 10Г2БД (ИСО УГ102) для спектрального анализа. 
        </p>
        <p>
           14.04.2019 утверждено формление новой редакции паспорта стандартного образца состава огнеупора хромитопериклазового 
            типа ХПЗ, партия К5б, (ГСО 4117-87)
        </p>
        <p>
            20.03.2019 утверждена и введена в действие с 01 апреля 2019 г. рекомендация М 25-2018 «Разработка стандартных образцов
            предприятий и отраслей материалов металлургического производства» (взамен М 25-2015).
        </p>
        
    </div>
</div>
</div>