@model PagedList.IPagedList<SCM.Models.IdentityModels.ScmUser>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Реестр пользователей";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Реестр пользователей</h2>
<br>

<br>    

<div id="users_list">
    @Html.Partial("~/Views/Admin/Users/Partials/UsersList.cshtml", Model)
</div>




<script>
    $(document).ready(function () {
        
        $('#Add').click(function (event) {
            
            event.preventDefault();
            $.get(this.href, function (response) {
                $('.divForAdd').html(response);
            });
            $('#Add-Model').modal({
                backdrop: 'static',
            }, 'show');
        });
    });
    
    
    
    $(document).on("click",".deleter",function() {
                        $.post(this.href, function (response) {
                            window.location.reload(false); 
                        });
                       
                        return false;
        });
    
    $(document).on("click",".editDialog",function() {
                    $.get(this.href, function (response) {
                        $('.divForUpdate').html(response);
                    });
                    $('#Edit-Model').modal({
                        backdrop: 'static',
                    }, 'show');
                    return false;
    });
</script>