@model SCM.ViewModels.Order.SimpleOrderViewModel

@{
    ViewBag.Title = "Добавить заказ";
}

<h2>Добавить заказ</h2>

<div id="wizard">
    @Html.Partial("Partials/CreateFirstStep", Model)
</div>


<div>
    @Html.ActionLink("Вернуться к списку заказов", "Index")
</div>